// main: ../style.less

header {
    position: relative;
    width: 100%;
    padding: 20px 0;
}

.header__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav__link {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
}

.nav__link:hover {
    color: red;
}

.menu-checkbox {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: @max-mobile-width) {
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 200px;
        padding: 10px 0;
        z-index: 10;
    }

    .menu-icon {
        display: block;
        z-index: 20;
    }

    .menu-checkbox:checked~.nav {
        display: flex;
    }
}