// main: ../style.less

.timer__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer__text {
    font-size: 48px;
    font-weight: 500;
    color: @blue;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

.progress__inner {
    position: relative;
}

.progress_bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

.progress_bar.active {
    display: block;
    border-radius: 5px;
}

.progress_bar_animate {
    animation: progress 2s ease-in-out infinite;
}

@keyframes progress {
    0% {
        transform: scaleX(0.2);
        transform-origin: left center;
    }
    25% {
        transform: scaleX(1.2);
        transform-origin: left center;
    }
    50% {
        transform: scaleX(0.5);
        transform-origin: right center;
    }
    75% {
        transform: scaleX(1.2);
        transform-origin: right center;
    }
    100% {
        transform: scaleX(0.2);
        transform-origin: left center;
    }
}
